<section class="banner">
        <h1>Thanks for visiting!</h1>
        <p>You've landed on the personal homepage of Cody Fischel. Take a look around!</p>
      </section>

      <section class="excerpts">
        <div>
            <h1>This is a title</h1>
            <p>this is an excerpt.</p>
        </div>
        <div>
            <h1>This is a title</h1>
            <p>this is an excerpt.</p>
        </div>
        <div>
            <h1>This is a title</h1>
            <p>this is an excerpt.</p>
        </div>
      </section>
      <section class="dev_projects">
        <div>
          <a href="#">
            <h1>Project 1</h1>
            <p>some text and an image goes here</p>
          </a>
        </div>
        <div>
          <a href="#">
            <h1>Project 2</h1>
            <p>some text and an image goes here</p>
          </a>
        </div>
      </section>
      <section class="fun_things">
        <div>
          <a href="#">
            <h1>Fun Thing 1</h1>
            <p>some text and an image goes here</p>
          </a>
        </div>
        <div>
          <a href="#">
            <h1>Fun Thing 2</h1>
            <p>some text and an image goes here</p>
          </a>
        </div>
      </section>

    <h1>Sample App</h1>
    <p>
      This is the home page for the
      <a href="http://portfolioofc.com/">Portfolio of C</a>
      sample application.
    </p>
